/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 * This allows you to build large-sized stylesheets with plenty of notes and comments. Before releasing, compress
 * this file and replace the compressed CSS in the 'style.css' file.
 * @link http://www.cssdrive.com/index.php/main/csscompressor
 */

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 100%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	word-wrap:break-word;
	word-break: break-word;
}

/* box sizing FTW */
/* src: http://paulirish.com/2012/box-sizing-border-box-ftw/ */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}


/* assistive */

.skip-link, 
.screen-reader-text, 
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


body,
button,
input,
select,
textarea {
	font-size: 16px;
	font-size: 1rem;
	font-family: sans-serif;
	line-height: 1.5;
}

input, 
textarea {
	max-width: 98%;
}

body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: 'Open Sans', sans-serif;
	color:#222;
}


.wrap {
	overflow: hidden;
	clear: both;
	width: 71.25em;
	margin: 0 auto;
	padding: 0px;
	background: #fff; 
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}

ol, 
ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, 
th, 
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: "";
}
blockquote, 
q {
	quotes: "" "";
}

/* PROBABLY NEED TO NOT DECLARE a SITEWIDE. */
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #444;
}

/* highlight text! */

::-moz-selection{ background: #7aad21; color:#fff; text-shadow: none; }
::selection { background:#7aad21; color:#fff; text-shadow: none; } 

.entry-content a,
.byline a,
.entry-meta a, 
.sidebar a {
	color: #004466;
}
.entry-content a:hover,
.byline a:hover,
.entry-meta a:hover,  
.sidebar a:hover {
	color: #3388bb;
	text-decoration: underline;
}
	
p {
	margin:0 0 1.5em 0
}

.clear {
	clear:both
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
} /* margin and padding and font-weight set to override browser defaults */
	
h1 {	
	font-size:	27px;
	font-size:	1.688rem;	
}

h2 {	
	font-size:	24px;
	font-size:	1.5rem;	
} /* 24px */

h3 {	
	font-size:	20px;
	font-size:	1.25rem;	
} /* 20px */

h4 {	
	font-size:	18px;
	font-size:	1.125rem;	
} /* 18px */

h5 {	
	font-size:	16px;
	font-size:	1rem;	
} /* 16px */

h6 {	
	font-size:	14px;
	font-size:	0.875rem;
	font-weight: normal;	
} /* 14px */

/* entry-content line-heights. Define in child */
/*
.entry-content h1 {
	line-height: 27px;	
	line-height: 1.688rem;		
}
.entry-content h2 {	
	line-height: 24px;
	line-height: 1.5rem;		
}
*/
.entry-content h3 {	
	line-height: 24px;
	line-height: 1.5rem;		
}

.entry-content h4 {	
	line-height: 24px;
	line-height: 1.5rem;		
}
.entry-content h5 {
	line-height: 24px;
	line-height: 1.5rem;		
}
.entry-content h6 {	
	line-height: 24px;
	line-height: 1.5rem;	
}
*/
/* Tables */
table {
	margin: 0 0 1.5em 0;
	width: 100%;
	border-left: 1px solid #e0e0e0;
}
table caption {
	color: #999;
}
table th {
	font-weight: bold;
	padding: 0.25em 2%;
	border-top:1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	text-align: left;
}
table {
	border-left: 1px solid #e0e0e0;
}
td {
	padding: 0.25em 2%;
	color: #444;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

acronym {
	text-transform: uppercase;
	color: #555;
	background: #fcfcfc;
}
acronym:hover {
	background: #f9f9f9;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* horizontal line */

hr {
	border: 0;
	width: 98%;
	color: #ccc;
	background-color: #ccc;
	height: 1px;
}

/* Lists. */
ul {
	list-style: square inside;
}
ul ul {
	margin:0.25em 0 0.25em .5em;
}
ol {
	list-style: decimal inside;
}
ol ol {
	margin: 0.25em 0 0.25em .5em;
}
dl {
	margin: 0 0 1.5em 1.5em;
}
dl dt {
	margin: 0;
}
dl dd {
	margin: 0 0 0.25em 0.625em;
	padding: 0;
	font-size: 0.875em;
	color: #888;
}

/* Blockquotes. */
blockquote {
	overflow: hidden;
	margin: 0 0 1.5em 0;
	padding: 1.5em 1.5em 0 1.5em;
	font-size: 0.938em;
	background: #eee;
	font-style: italic;

}
blockquote blockquote {
	background: #eee;
	font-style: italic;

}

/* Code */
code {
	padding: 0 0.25em;
	color: #555;
	background: #e6e6e6;
}
pre {
	padding: 1.5em;
	color: #555;
	background: #efefef;
	border: 1px solid #dfdfdf;
}
pre code {
	padding: 0;
	background: transparent;
}

/* Forms */
input[type="text"] {
	display: block;
}
textarea {
	display: block;
}

/* Alignment */
.left, 
.alignleft {
	float: left;
	margin: 0 1.5em 0 0;
}
.right, 
.alignright {
	float: right;
	margin: 0 0 0 1.5em;
}
.center, 
.aligncenter {
	display: block;
	margin: 0 auto 1.5em auto !important;
}
.block, 
.alignnone {
	display: block;
	margin: 0 0 1.5em 0;
}
.clear {
	clear: both;
}

/* Images */

/* Responsive images */

.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.entry-content img {
	max-width: 100%;
	padding: 0;
	border: none;
}

.layout-default .entry-content img,
.layout-1c .entry-content img,
.layout-2c-r .entry-content img,
.layout-2c-l .entry-content img,
.layout-3c-l .entry-content img, 
.layout-3c-r .entry-content img, 
.layout-3c-c .entry-content img {

}

.gallery {
	overflow: hidden;
	margin: 0 0 -1.5em 0;
}
.gallery a {
	border: none;
}
.gallery-item {
	overflow: hidden;
	margin: 0 0 1.5em 0;
}
.gallery-icon {
	margin: 0;
}
.gallery img {
	margin: 0;
	padding: 0.125em;
	border: none;
}
.gallery-caption {

}
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item .gallery-icon img{max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.col-0{width:100%}.col-1{width:100%}.col-2{width:50%}.col-3{width:33.33%}.col-4{width:25%}.col-5{width:20%}.col-6{width:16.66%}.col-7{width:14.28%}.col-8{width:12.5%}.col-9{width:11.11%}.col-10{width:10%}.col-11{width:9.09%}.col-12{width:8.33%}.col-13{width:7.69%}.col-14{width:7.14%}.col-15{width:6.66%}.col-16{width:6.25%}.col-17{width:5.88%}.col-18{width:5.55%}.col-19{width:5.26%}.col-20{width:5%}.col-21{width:4.76%}.col-22{width:4.54%}.col-23{width:4.34%}.col-24{width:4.16%}.col-25{width:4%}.col-26{width:3.84%}.col-27{width:3.7%}.col-28{width:3.57%}.col-29{width:3.44%}.col-30{width:3.33%}

/* Captions [caption] */
.wp-caption {
	overflow: hidden;
	padding: 0.75em 0.5em;
	background: #f9f9f9;
	border: 1px solid #ccc;
}
.wp-caption img {
	display: block;
	max-width: 98%;
	margin: 0 auto 0.625em auto;
	padding: 1%;
	border: none;
}
.wp-caption .wp-caption-text {
	margin: 0 0.25em;
	text-align: right;
}

/* Make sure videos and embeds fit their containers */

embed,
iframe,
object,
video {
	max-width: 100%;
}

/* 
 * tweet oEmbed force max width 
 * kudos: http://kovshenin.com/2012/quick-tip-how-to-make-tweet-embeds-responsive/
*/

.entry-content .twitter-tweet-rendered {
    max-width: 100% !important;
}

/* buttons */

/* Buttons */
.button,
.menu-toggle,
input[type="submit"] {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.button,
.menu-toggle,
input[type="submit"] {
	cursor: pointer;
}
.button:hover
.menu-toggle:hover,
input[type="submit"]:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.button:active
.menu-toggle:active,
.menu-toggle.toggled-on,
input[type="submit"]:active,
input[type="submit"].toggled-on {
	color: #777;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}

/* Style. */



#main {
	overflow: hidden;
	width: 100%; 
}


/* THE MAIN WRAP IS WHERE YOU ADJUST THE CSS FOR A "BOXED" DESIGN */
#main .wrap{
	overflow: hidden;
	clear: both;
	margin: 0 auto;
	/* open styles 
	padding: 1.5em 0px;
	background: none; */
	/* BOXED */
	padding: 1.5em;
}	

	
/* header */	

	
#header {
	width: 100%; 
} 

#header .wrap:after {  content:"."; clear:both; display:block; height:0; visibility:hidden; } /* forces layout */

#header .wrap{
/*	height: 10em; 160px for overflow reasons */
	clear: both;
	margin: 0 auto;
	padding: 1.5em;
	overflow: visible;
}

#branding {
	clear: left;
	overflow: hidden;
	float:left;
	background: none;
	display: block;
	margin: 0;	
	width: auto;
}

#site-title { 
	float: left;
}

#site-title a {
	display: block;
/*	width: 20em;
	height: auto;
	background: url(images/logo.gif) 0 0 no-repeat;
*/
}

#site-title a span {
	/*	display: none; */
}

#site-description {
	/*	text-indent: -9999px; */
	clear: left;
	font-size: 16px;
	font-size: 1rem;
	padding: 0;
} 
	

#sidebar-header {
	overflow: hidden; 
	float: right;
	background: none;
	width: 60%;
	margin: 0;
	padding: 0;
}
#sidebar-header .widget {
	float: left;
	width: 47.5%;
	margin: 0 0 0 2.5%;
}
#sidebar-header .widget-title {
	margin: 0;
}
		
#sidebar-header .entry-title {
	font-size: 1.5em;
}
		
		
/* Primary menu */


/* =Menu
----------------------------------------------- */


/*
Original Author: Craig Erskine
Description: Dynamic Menu System - Horizontal/Vertical
Adapted to Happy theme in various ways
http://qrayg.com/experiment/cssmenus/
*/
.primary-navigation {
	clear: both;
	display: block;
	width: 100%;    
	text-align: left;
	clear:both;
}
.primary-navigation .wrap {
	margin: 0 auto;
	padding: 0;
	height: auto;
	position: relative;
	overflow: visible;
	background: #ddd;
}

.primary-navigation:after, .primary-navigation .wrap:after {  content:"."; clear:both; display:block; height:0; visibility:hidden; } /* forces layout */

.primary-navigation ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	position: relative; 
}

.primary-navigation ul ul {
	width: 180px; /* Sub Menu Width */
	width: 12.5rem;
	margin: 0;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99999;
}

.primary-navigation ul ul ul,
.primary-navigation ul ul ul ul { 
	top: 0; 
	left: 100%; 
}

.primary-navigation ul li { 
	float: left; 
	display: inline; 
	position: relative; 
}
.primary-navigation ul ul li { 
	width: 100%; 
	display: block; 
}

/* Root Menu */
.primary-navigation ul a {
	float: left;
	display: block;
	background: #ddd;
	text-decoration: none;
	padding: 16px;	
	padding: 1rem;
	height: 1%;
}

/* Root Menu Hover Persistence */
.primary-navigation ul a:hover,
.primary-navigation ul li:hover a,
.primary-navigation ul li.iehover a {
	background: #ddd;
}

/* 2nd Menu */
.primary-navigation ul li:hover li a, 
.primary-navigation ul li.iehover li a {
	float: none;
	background: #ddd;
}

/* 2nd Menu Hover Persistence */
.primary-navigation ul li:hover li a:hover,
.primary-navigation ul li:hover li:hover a,
.primary-navigation ul li.iehover li a:hover,
.primary-navigation ul li.iehover li.iehover a {
 background: #ccc;
}

/* 3rd Menu */
.primary-navigation ul li:hover li:hover li a,
.primary-navigation ul li.iehover li.iehover li a {
 background: #ccc;
}

/* 3rd Menu Hover Persistence */
.primary-navigation ul li:hover li:hover li a:hover,
.primary-navigation ul li:hover li:hover li:hover a,
.primary-navigation ul li.iehover li.iehover li a:hover,
.primary-navigation ul li.iehover li.iehover li.iehover a {
 background: #bbb;
}

/* 4th Menu */
.primary-navigation ul li:hover li:hover li:hover li a,
.primary-navigation ul li.iehover li.iehover li.iehover li a {
 background: #bbb;
}

/* 4th Menu Hover */
.primary-navigation ul li:hover li:hover li:hover li a:hover,
.primary-navigation ul li.iehover li.iehover li.iehover li a:hover {
 background: #aaa;
}

/* Hover Function - Do Not Move */
.primary-navigation ul li:hover ul ul,
.primary-navigation ul li:hover ul ul ul,
.primary-navigation ul li.iehover ul ul,
.primary-navigation ul li.iehover ul ul ul { 
	display: none; 
}
.primary-navigation ul li:hover ul,
.primary-navigation ul ul li:hover ul,
.primary-navigation ul ul ul li:hover ul,
.primary-navigation ul li.iehover ul,
.primary-navigation ul ul li.iehover ul,
.primary-navigation ul ul ul li.iehover ul { 
	display: block; 
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: inline-block;
	margin: 0 1.5em;
}
.main-small-navigation,
.main-small-secondary-navigation {
	text-align: center;
}
.main-small-navigation .menu,
.main-small-secondary-navigation .menu {
	display: none;
	text-align: left;
}
.main-small-navigation .menu > ul,
.main-small-secondary-navigation .menu > ul {
	margin: 0 auto;
	padding: 0;
}

		
		
/* Search form in the feature area */
 div.search {
	float: left;
	width: 10em;
	margin:0 1.5em 0 0;
}
.search-form input[type="text"] {
	width: 99%;
	margin:0.25em 0 0;
	padding: 0.25em 0 0.25em 1em;
	font-size: 0.75em;
	color: #aaa;
	border: 1px solid #dfdfdf;
}
.search-form input[type="text"]:focus {
	color: #999;
	background: #fefefe;
	border-color: #cfcfcf;
	padding: 0.25em 0 0.25 1em;
}
.search-form input[type="submit"] {
}
	
	
		
		
/* end-header */
		


/* splash page */

#home-feature {
	width: 100%;
	background: none;
	clear: both;
}

#home-feature .wrap{
	overflow: hidden;
	clear: both;
	margin: 0 auto;
	background: #ccc;
}



#sidebar-feature {
	overflow: hidden;
	margin: 0 auto;
	background: none;
	padding: 0.5em 0;
	width: inherit;
	text-align: center;
}
#sidebar-feature .widget-title {
	margin:0 0 0.5em;
}




/* end-splash */



/* main-menu */



/*
Original Author: Craig Erskine
Description: Dynamic Menu System - Horizontal/Vertical
Adapted to Happy theme in various ways
http://qrayg.com/experiment/cssmenus/
*/
.secondary-navigation {
	clear: both;
	display: block;
	width: 100%;    
	text-align: left;
	clear:both;
}
.secondary-navigation .wrap {
	margin: 0 auto;
	position: relative;
	overflow: visible;
	background: #ddd;
}

.secondary-navigation .wrap:after {  content:"."; clear:both; display:block; height:0; visibility:hidden; } /* forces layout */

.secondary-navigation ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	position: relative; 
}

.secondary-navigation ul ul {
	width: 180px; /* Sub Menu Width */
	margin: 0;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
}

.secondary-navigation ul ul ul,
.secondary-navigation ul ul ul ul { 
	top: 0; 
	left: 100%; 
	width: 100%; /* Sub Menu Width */
}

.secondary-navigation ul li { 
	float: left; 
	display: inline; 
	position: relative; 
}
.secondary-navigation ul ul li { 
	width: 100%; 
	display: block; 
}

/* Root Menu */
.secondary-navigation ul a {
	float: left;
	display: block;
	background: #ddd;
	text-decoration: none;
	padding: 16px;	
	padding: 1rem;
	height: 1%;

}

/* Root Menu Hover Persistence */
.secondary-navigation ul a:hover,
.secondary-navigation ul li:hover a,
.secondary-navigation ul li.iehover a {
	background: #ddd;
}

/* 2nd Menu */
.secondary-navigation ul li:hover li a, 
.secondary-navigation ul li.iehover li a {
	float: none;
	background: #ddd;
}

/* 2nd Menu Hover Persistence */
.secondary-navigation ul li:hover li a:hover,
.secondary-navigation ul li:hover li:hover a,
.secondary-navigation ul li.iehover li a:hover,
.secondary-navigation ul li.iehover li.iehover a {
 background: #ccc;
}

/* 3rd Menu */
.secondary-navigation ul li:hover li:hover li a,
.secondary-navigation ul li.iehover li.iehover li a {
 background: #ccc;
}

/* 3rd Menu Hover Persistence */
.secondary-navigation ul li:hover li:hover li a:hover,
.secondary-navigation ul li:hover li:hover li:hover a,
.secondary-navigation ul li.iehover li.iehover li a:hover,
.secondary-navigation ul li.iehover li.iehover li.iehover a {
 background: #bbb;
}

/* 4th Menu */
.secondary-navigation ul li:hover li:hover li:hover li a,
.secondary-navigation ul li.iehover li.iehover li.iehover li a {
 background: #bbb;
}

/* 4th Menu Hover */
.secondary-navigation ul li:hover li:hover li:hover li a:hover,
.secondary-navigation ul li.iehover li.iehover li.iehover li a:hover {
 background: #aaa;
}

/* Hover Function - Do Not Move */
.secondary-navigation ul li:hover ul ul,
.secondary-navigation ul li:hover ul ul ul,
.secondary-navigation ul li.iehover ul ul,
.secondary-navigation ul li.iehover ul ul ul { 
	display: none; 
}
.secondary-navigation ul li:hover ul,
.secondary-navigation ul ul li:hover ul,
.secondary-navigation ul ul ul li:hover ul,
.secondary-navigation ul li.iehover ul,
.secondary-navigation ul ul li.iehover ul,
.secondary-navigation ul ul ul li.iehover ul { 
	display: block; 
}

/* content-area */

#content {
	width: 70%; /* standard 720px width */ 
	margin: 0;
	padding: 0; 
	background: none;
}

.page-template-front-page #content {
	padding: 0;
}

.hentry {
	margin: 0 0 28px 0;
	margin: 0 0 1.75rem 0;
	padding: 0 0 28px 0;
	padding: 0 0 1.75rem 0;
}
.singular .hentry {
	margin: 0;
	padding: 0;
}

.blog .hfeed .hentry, 
.archive .hfeed .hentry,
.search .hfeed .hentry {
	border-bottom: 1px solid #ccc;
}

.sticky {
	margin: 0;
	padding:0;
}

.hentry .thumbnail {
	float: right;
	/* image sizes are better defined with add_theme_support - this is just a css fallback, like when the src image is too large. don't always need
	width: 150px;
	height: 150px;
	*/
	margin: 0 0 0.5em 1em;
}
.sticky .thumbnail {
}

.entry-title {
	margin: 0 0 0.5em 0;
}
.singular .entry-title {
	margin: 0 0 0.5em 0;
}
.singular-page .entry-title, 
.singular-attachment .entry-title {
	margin:0 0 1em;
}
	
.entry-title a {
	border-bottom: none;
}
.entry-title a:hover {

}

.byline {
	margin: 0 0 0.5em 0;
	font-size: 14px;
	font-size: 0.875rem;
}
.byline a {
}
.byline a:hover {
	text-decoration: underline;
}
.singular .byline {
	margin: 0 0 0.5em 0;
}

.entry-content {
}

.entry-meta {
	clear: both;
	margin: 0;
	font-size: 14px;
	font-size: 0.875rem;
}
.entry-meta a {
}
.entry-meta a:hover {
	text-decoration: underline;
}

.loop-meta {
	margin: 0 0 1.5em 0;
	font-size: 16px;
	font-size: 1rem;
}
.loop-description {
	overflow: hidden;
	font-style: italic;
}
.loop-description p {
	margin: 0;
}
.loop-description em {
	font-style: normal;
}
.loop-title {	
	margin: 0;
}
.loop-meta .avatar {
	float: left;
	width: 3.1875em;
	height: 3.1875em;
	margin: 0 1.5em 0.5em 0;
	padding: 0;
}

.singular .loop-nav {
	font-size: 16px
	font-size: 1rem;
}
.singular .loop-nav a {
	font-style: italic;
}

.page-links {
	clear: both;	
}
.page-links a {
	display: inline-block;
	padding: 0.5em 0.75em;
	margin: 0 0.25em 0 0.25em;
}
.page-links a:hover {

}

.pagination .page-numbers {
	display: inline-block;
	padding: 0.5em 0.75em;
	margin: 0 0.75em 0 0;	
}
.pagination a.page-numbers {
}
.pagination a:hover {

}
.pagination .current {

}
	
	
	
.breadcrumbs {
	font-size: 12px
	font-size: 0.75rem;
	margin:0 0 1.5em;
}
.breadcrumbs a {
	text-decoratin: none;
}
.breadcrumbs a:hover {
}
.breadcrumbs .trail-before {
	display: inline-block;
	margin: 0 0.375em 0 0;
}
.breadcrumbs .trail-end {
	font-style: italic;
}
.breadcrumbs .sep {
	display: inline-block;
	margin: 0 .375em;
}


	
/* Layouts. These are default setups that allow for choose column setup on a per page basis. they need to be adjusted for width if we change outside of the ~960 layout. be sure to change all areas of 2C, 3C, 1C if you're changing one, for site wide consistency */

.layout-1c #content {
	width: 100%;
}

#content, 
.layout-2c-l #content,
.layout-2c-r #content,  
.layout-default #content {
	float: left;
	width: 70%;
}

.layout-3c-l #content, 
.layout-3c-r #content, 
.layout-3c-c #content {
	width: 40%;
}

#sidebar-primary, 
#sidebar-secondary {
	width: 25%;
}

.layout-2c-l #sidebar-primary, 
.layout-default #sidebar-primary {
	float: right;
}
.layout-2c-l #sidebar-secondary, 
.layout-default #sidebar-secondary {
	clear: right;
	float: right;
	margin: 1.5em 0;
}

.layout-2c-r #content {
	float: right;
}
.layout-2c-r #sidebar-primary {
	float: left;
}
.layout-2c-r #sidebar-secondary {
	float: left;
	clear: left;
}

.layout-3c-l #content {
	float: left;
}
.layout-3c-l #sidebar-primary, 
.layout-3c-l #sidebar-secondary {
	clear: none;
	float: left;
	margin:0 0 0 1.5em;
}
.layout-3c-l #sidebar-secondary {
	padding: 0;
	border: none;
}

.layout-3c-r #content {
	float: right;
}
.layout-3c-r #sidebar-primary, 
.layout-3c-r #sidebar-secondary {
	clear: none;
	float: left;
	margin:0 1.5em 0 0;
}
.layout-3c-r #sidebar-secondary {
	border: none;
}

.layout-3c-c #content {
	float: left;
	margin:0 0 0 30%;
}
.layout-3c-c #sidebar-primary {
	float: left;
	margin:0 0 0 -70%;
}
.layout-3c-c #sidebar-secondary {
	clear: none;
	float: right;
	border: none;
}

	
	
/* -to display on singular pages- */	
	
#sidebar-after-singular {
	overflow: hidden;
	margin: 1.5em 0;
}
#sidebar-after-singular .widget-title {
}
#sidebar-after-singular .widget ul {
	list-style: square inside;
}
#sidebar-after-singular .widget ul li a {

}
#sidebar-after-singular .widget ul li a:hover {

}
	
	
	
/* end-content-area */	
	


/* sidebar */
	
.sidebar .widget-title {

}

.sidebar .widget ul {
	list-style: none;
	padding: 0 16px;
	padding: 0 1rem;
}
.sidebar .widget > ul {
	padding: 0;
}
.sidebar .widget ul li a {
}
.sidebar .widget ul li a:hover {

}

#sidebar-primary {
padding: 2%;
background: #ddd;
}
#sidebar-secondary {
padding: 2%;
background: #ddd;
}



/* end-sidebar */
	
	
/* footer */


#footer {
}
#footer .wrap {
	background: #ccc;
}
#footer a {
}
#footer a:hover {
}
#footer .wrap {
	margin: 0 auto; 
}

/* subsidiary nav */


.subsidiary-navigation {
	clear: both;
	display: block;
	width: 100%;    
	text-align: center;
	clear:both;
}
.subsidiary-navigation .wrap {
	margin: 0 auto;
	position: relative;
	overflow: visible;
	background: #ddd;
}

.subsidiary-navigation .wrap:after {  content:"."; clear:both; display:block; height:0; visibility:hidden; } /* forces layout */

.subsidiary-navigation ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	position: relative; 
}

.subsidiary-navigation ul ul {
	width: 160px; /* Sub Menu Width */
	margin: 0;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
}

.subsidiary-navigation ul ul ul,
.subsidiary-navigation ul ul ul ul { 
	top: 0; 
	left: 100%; 
}

.subsidiary-navigation ul li { 
	float: left; 
	display: inline; 
	position: relative; 
}
.subsidiary-navigation ul ul li { 
	width: 100%; 
	display: block; 
}

/* Root Menu */
.subsidiary-navigation ul a {
	float: left;
	display: block;
	background: #ddd;
	text-decoration: none;
	padding: 16px;	
	padding: 1rem;
	height: 1%;
}
/* Root Menu Hover Persistence */
.subsidiary-navigation ul a:hover,
.subsidiary-navigation ul li:hover a,
.subsidiary-navigation ul li.iehover a {
	background: #ddd;
}

#footer .copyright {
	float: left;
	text-align: left;
	width: 49%;
	padding: 16px;
	padding: 1rem;
	margin: 0;
}
#footer .credit {
	float: right;
	text-align: right;
	width: 49%;
	padding: 16px;
	padding: 1rem;
	margin: 0;
	
	
}
#footer .copyright a, 
#footer .credit a {
}
    
    

#sidebar-subsidiary {
	overflow: hidden;
	width: 100%;
}
#sidebar-subsidiary .wrap {
	background: #ccc;
	padding: 16px;
	padding: 1rem;
}
#sidebar-subsidiary .widget {
	width: 23%;
	float: left;
	margin: 0 1%;
	padding: 0 1%;
}
#sidebar-subsidiary .widget a {
}
#sidebar-subsidiary .widget-title {
	margin: 0 0 0.5em 0;
	padding: 0;
}

#sidebar-subsidiary .widget ul {
	list-style: square inside;
}
#sidebar-subsidiary .widget ul li a {

}
#sidebar-subsidiary .widget ul li a:hover {

} 
    
    
   
    
/* end-footer */
    


/* Comments */
.comment-list, 
.comment-list ol {
	list-style: none;
	margin: 0 0 1.5em 0;
	border-top: 1px solid #dfdfdf;
	padding: 0;
}
.comment-list li {
	padding: 24px 24px 0 24px;
	padding: 1.5rem 1.5rem 0 1.5rem;
	border: 1px solid #dfdfdf;
	border-top: none;
}

.comment-list .avatar {
	float: left;
	width: 2.5em;
	height: 2.5em;
	margin: 0 1em 0.5em 0;
	padding: 0.125em;
	border: 1px solid #eee;
}

.comment-meta {
	margin: 0 0 1.5em 0;
	font-size: 0.75em;
}
.comment-meta .comment-author cite, 
.comment-meta .comment-author cite a {

}
.comment-meta a {

}
.comment-meta a:hover {

}

.comment-content {
	margin-left: 60px;
	margin-left: 3.75rem;
	margin-left: 0;
	clear: both;
}

.comment-content ol {
	list-style: decimal inside;
	margin: 0 0 1.5em 0;
	border-top: none;
	margin: 0 0 1.5em 1.5em;
	padding: 0;
}
.comment-content ul {
	list-style: square inside;
	margin: 0 0 1.5em 0;
	border-top: none;
	margin: 0 0 1.5em 1.5em;
	padding: 0;
}
.comment-content li {
	border: none;
	padding: 0;
}


.comment-text {

}

#respond {
	overflow: hidden;
}
.comment-list #respond {
	margin: 1.5em 0 0;
}
#respond .log-in-out {

}
#respond .log-in-out a {
	font-style: italic;
}
#reply-title small a {
	font-style: italic;
}

#respond label {

}
#respond p.req label {

}
#respond span.required {

}
#respond #submit {
	float: left;
	margin:0 0 1.5em;
}
	
	
	
/* end-Comments */	



/* gravity forms */

.gform_body {
	width:100%;
	margin:0.5em 0 0 0;
}
.gform_body ul {
	list-style:none !important;
	padding: 0 !important; /* set to important to override widget ul styles, etc when forms are in sidebars */
}
.gform_body input {
	width:100%;
}
.gfield {
	margin:0 0 0.25em;
}
.gfield input {
	font-size:0.875em;
	padding:0.25em;
	border:1px solid #999;
}
.ginput_left {
	width:48%;
	float:left;
	margin:0 0 0.25em;
}
.ginput_right { 
	width:48%;
	float:right;
	margin:0 0 0.25em;

}
.ginput_left label, 
.ginput_right label {
	font-size:0.875em;
}
.ginput_left input, 
.ginput_right input {
	margin:0 0 0.125em;
}
.gform_body textarea {
	width:100%;
	padding:0.125em 0 0 0.125em;
	font-size:0.875em;
	border:1px solid #999;
}    


@media (min-width: 45.5em) and (max-width: 71.24999999em) {

	.wrap { width: 98%; }

}

@media (min-width: 30em) and (max-width: 45.49999em) {

	.wrap { width: 98%; }
	
	#content, 
	.layout-1c #content, 
	.layout-2c-l #content, 
	.layout-2c-r #content,
	.layout-default #content, 
	.layout-3c-l #content, 
	.layout-3c-r #content, 
	.layout-3c-c #content {
		width: 98%;
		float: left;
	}

	#sidebar-header {
		clear:both;
		width: 100%;
		margin-top: 1rem;
		float: left;
	}
	
	#sidebar-header .widget {
		clear: both;
		width: 100%;
		margin: 0;
	}
	
	.main-small-navigation, 
	.main-small-secondary-navigation {
		background: #fff;
		padding: 1rem;
	}
	
	.layout-2c-r #sidebar-primary, 
	.layout-2c-l #sidebar-primary, 
	.layout-default #sidebar-primary {
		width: 49%;
		float: left;
	}
	.layout-2c-r #sidebar-secondary, 
	.layout-2c-l #sidebar-secondary, 
	.layout-default #sidebar-secondary {
		width: 49%;
		float: left;
		margin: 0 0 0 2%;
	}
	#sidebar-subsidiary .widget {
		width: 48%;
	}
	.comment-list li {
		padding: 8px 8px 0 8px;
		padding: .5rem .5rem 0 .5rem;
	}

}

@media (min-width: 1em) and (max-width: 29.9999em) { 

	.wrap { width: 98%; }
	
	#main .wrap {
		padding: 1em .5em;
	}
	
	#content, 	
	.layout-1c #content, 
	.layout-2c-l #content, 
	.layout-2c-r #content, 
	.layout-default #content, 
	.layout-3c-l #content, 
	.layout-3c-r #content, 
	.layout-3c-c #content {
		width: 98%;
		float: left;
	}
	
	#sidebar-header {
		clear:both;
		width: 100%;
		margin-top: 1rem;
		float: left;
	}
	
	#sidebar-header .widget {
		clear: both;
		width: 100%;
		margin: 0;
	}
	
	.main-small-navigation, 
	.main-small-secondary-navigation {
		background: #fff;
		padding: 1rem;
	}
	
	
	.layout-2c-r #sidebar-primary, 
	.layout-2c-l #sidebar-primary, 
	.layout-default #sidebar-primary, 
	.layout-2c-r #sidebar-secondary, 
	.layout-2c-l #sidebar-secondary, 
	.layout-default #sidebar-secondary, 
	#sidebar-subsidiary .widget {
		width: 98%;
		float: left;
		clear: both;
	}
	
	copyright, .credit, #branding {
		width:98%;
		margin: 0 auto;
		clear: both;
		float: left;
	}
	
	.entry-title {
		clear:both;
	}

	.hentry .thumbnail {
		float: left;
		margin: 0;
	}
	
	.comment-list li {
		padding: 4px 2px 0 4px;
		padding: 0.25rem 0.125rem 0 0.25rem;
	}

	.comment-list .avatar {
		float: left;
		width: 2.5em;
		height: 2.5em;
		margin: 0 4px 4px 0; 
		margin: 0 0.25rem 0.25rem 0;
	}
	
	#footer .copyright, 
	#footer .credit {
		float: left;
		text-align: left;
		width: 100%;
	}

}